// @import url("../fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// @import url("../fonts/icomoons/style.css");
@import url("normalize.css");

$JoseFont: "Josefin Sans", sans-serif;
$AleoFont: "aleo", sans-serif;

* {
   box-sizing: border-box;
}
body {
   font-family: $JoseFont;
   font-size: 16px;
   font-weight: 400;
   padding: 20px;
   background: #4f56bb;
   @media (max-width: 600px) {
      font-size: 12px;
   }
}
.header {
   display: flex;
   max-width: 100%;
   justify-content: space-between;
   border-bottom: 2px solid #ccc;
   padding: 15px;
}
.logo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #000;
}
.nav__list {
   display: flex;
   list-style: none;
}
.nav__item {
   margin-left: 15px;
}
.content {
   margin: 0 10%;
}
.news {
   display: flex;
   flex-wrap: wrap;
}
.news__block {
   width: 33.3%;
   min-height: 100%;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #ccc;
}
.news__image {
   width: 100%;
   padding-top: 60%;
   position: relative;
   margin-bottom: 15px;
}
.news__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.text {
   margin-bottom: 15px;
}
.btn {
   margin-top: auto;
}
.slick-track {
   display: flex;
   transition-timing-function: linear !important;
}
.slick-slide {
   height: unset;
   margin: 0 10px;
}
.slick-initialized .slick-slide {
   display: flex;
}
.slider__nav {
   display: flex;
}
.slick-prev,
.slick-next {
   position: unset;
   transform: unset;
}
.options {
   padding: 1rem;
}
.news__purchase {
   display: flex;
   flex-direction: column;
   margin-top: auto;
}
.price {
   margin-bottom: 20px;
}
.searching {
   width: 100%;
   &__form {
      margin: 0 auto;
      width: 60%;
      height: 2em;
      padding: 0;
      display: flex;
   }
   &__input {
      font-size: 1.2em;
      width: 80%;
      height: 100%;
      outline: none;
      border: none;
      text-indent: 0.5em;
      margin: 0 auto;
      border-radius: 1em;
   }
   &__input::placeholder {
      color: #000;
   }
   &__btn {
      font-size: 1.2em;
      // padding: 1em;
      border: none;
      outline: none;
      height: 100%;
      margin: 0 auto;
      border-radius: 1em;
   }
   &__type {
      border-radius: 1em;
      outline: none;
   }
}
.films {
   margin: 50px auto;
   padding: 30px;
   width: 80%;
   background: #0011ff;
   display: none;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 30px;
   &__item {
      min-height: 20px;
      background: red;
      display: flex;
      flex-direction: column;
   }
   &__imgs {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 150%;
   }
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      display: none;
   }
   &__description {
      padding: 20px;
      margin-top: auto;
   }
   &__modal {
      display: none;
   }
}
