// @import url("../fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// @import url("../fonts/icomoons/style.css");
@import url("normalize.css");

$JoseFont: "Josefin Sans", sans-serif;
$AleoFont: "aleo", sans-serif;

* {
   box-sizing: border-box;
}
body {
   font-family: $JoseFont;
   font-size: 16px;
   font-weight: 400;
   padding: 20px;
   // color: #fff;
   // display: flex;
   @media (max-width: 600px) {
      font-size: 12px;
   }
}

.cards {
   display: grid;
   grid-template-columns: repeat(4, minmax(250px, 1fr));
   gap: 20px;
}
.modal {
   display: none;
   position: fixed;
   top: 30%;
   left: 50%;
   margin-left: -30vw;
   width: 60vw;
   height: 30vh;
   min-height: 150px;
   background: red;
   text-align: center;
   &__text {
      font-size: 2em;
      color: #fff;
   }
   &__btn_open {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 10em;
      height: 10em;
      border-radius: 50%;
   }
}

.trafficLight {
   background: #000;
   width: 250px;
   height: 750px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   &__circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: #000;
      &_red {
         display: none;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         background: red;
      }
      &_yellow {
         display: none;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         background: yellow;
      }
      &_green {
         display: none;
         width: 100%;
         height: 100%;
         border-radius: 50%;
         background: green;
      }
   }
}
#songs_ol {
   list-style-type: none;
}
.active {
   display: block;
}
.hidden {
   display: none;
}
