// @import url("../fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
// @import url("../fonts/icomoons/style.css");
@import url("normalize.css");

$JoseFont: "Josefin Sans", sans-serif;
$AleoFont: "aleo", sans-serif;

* {
   box-sizing: border-box;
}
body {
   font-family: $JoseFont;
   font-size: 16px;
   font-weight: 400;
   padding: 20px;
   // color: #fff;
   @media (max-width: 600px) {
      font-size: 12px;
   }
}

td {
   border: 1px solid #000;
   font-size: 24px;
   padding: 5px;
   text-align: center;
}
tr {
   border: 1px solid #000;
   text-align: center;
   padding: 5px;
}
th {
   border: 1px solid #000;
   text-align: center;
   padding: 5px;
}
