@font-face {
   font-family: 'Lucida-Grande';
   src: url(../font/Lucida-Grande.ttf);
  }
@font-face {
   font-family: 'Lucida-Sans';
   src: url(../font/Lucida-Sans-Unicode.ttf);
  }
.weatherSec {
   box-sizing: border-box;
   width: 100%;
   background: #39c;
   padding: 50px 0;
   border: 20px solid #2b81ac;
}
.container {
   margin: 0 auto;
   width: 80%;

}


.weatherh1 {
   color: #fff;
   font-size: 30px;
   font-family: 'Lucida-Grande';
   display: inline-block;
   margin-right: 5px;
   /* line-height: 1.3; */
}
.weatherDiv i {
   color: #fff;
   font-size: 30px;
   margin-left: 5px;
   /* line-height: 1.8; */
}
.weatherList {
   /* box-sizing: border-box; */
   display: inline-block;
   margin: 0 auto;
   border: 2px solid #fff;
   padding: 0 0 0 0;
   background: #fff;
   font-size: 0;
   transition: 0.1s;
}
.weatherList li {
   display: inline-block;
   list-style: none;
   height: 80px;
   padding: 20px 0;
   margin: 2px 2px;
}
.weatherList:hover li {
   opacity: 0.5;
}
.weatherList li:hover{
   opacity: 1;
}
.listCity,
.temperature {
   font-size: 30px;
   color: #fff;
   font-family: 'Lucida-Sans';
   text-align: center;
   line-height: 1.3;
}
.temperature {
   opacity: 0.7;
}
.tempItem::after {
   content: '\00B0 C'
}
.temperature i {
   margin-left: 10px;
}
.weatherList li:first-child {
   width: calc(50% - 4px);
   background: #3399cc;
}
.weatherList li:nth-child(2) {
   width: calc(25% - 4px);
   background: #3cc;
}
.weatherList li:nth-child(3) {
   width: calc(25% - 4px);
   background: #969;
}
.weatherList li:nth-child(4) {
   width: calc(25% - 4px);
   background: #c24747;
}
.weatherList li:nth-child(5) {
   width: calc(25% - 4px);
   background: #e2674a;
}
.weatherList li:nth-child(6) {
   width: calc(25% - 4px);
   background: #ffcc66;
}
.weatherList li:nth-child(7) {
   width: calc(25% - 4px);
   background: #9c9;
}
.weatherList li:nth-child(8) {
   width: calc(25% - 4px);
   background: #699;
}
.weatherList li:nth-child(9) {
   width: calc(50% - 4px);
   background: #c69;
}
.weatherList li:nth-child(10) {
   width: calc(25% - 4px);
   background: #396;
}
.weatherList li:nth-child(11) {
   width: calc(100% - 4px);
   background: #669;
}
.ps {
   margin-top: 35px;
   color: #fff;
   font-family: sans-serif;
   font-size: 18px;
}
.namasteSec {
   padding-top: 200px;
   text-align: center;
}
.whoweare {
   text-transform: uppercase;
   font-family: 'Montserrat';
   font-weight: bold;
   font-size: 16px;
   color: #898f99;
   letter-spacing: .3rem;
   margin: 0 auto;
}
.namasteh1 {
   text-transform: uppercase;
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 64px;
   color: #0ec8cb;
   letter-spacing: .5rem;
   margin: 32px auto 0;
}
.wedont {
   max-width: 700px;
   text-transform: uppercase;
   font-family: 'PT Sans';
   margin: 45px auto 0;
   color: #999;
   font-size: 24px;
}
.items {
   width: 100%;
   margin: 105px auto 0;
   font-size: 0;
}
.item {
   padding-top: 50px;
   margin: 0;
   width: calc(25% - 2px);
   display: inline-block;
   border: 1px solid #ececec;
   background: #f7f7f7;
   min-height: 425px;
}
.imgsItem {
   height: 64px;
   margin-bottom: 55px;
}
.imgsItem img {
   margin: 0 auto;
}
.imgsItem img:nth-child(2) {
   display: none;
}

.textItem {
   margin: 0 auto;
   vertical-align: middle;
   text-align: center;
   width: 85%;

}
.textItem h2 {
   text-transform: uppercase;
   font-size: 28px;
   font-family: 'Montserrat';
   min-height: 70px;
}
.textItem p {
   margin: 30px auto;
   font-size: 18px;
}
.item:hover .imgsItem img:nth-child(2) {
   display: block;
}
.item:hover .imgsItem img:nth-child(1) {
   display: none;
}
.item:hover {
   color: #fff;
   background: #0ec8cb;
}